/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  border: 1px solid black;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  background-color: #99A5AF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 70px;
}
.navigation span {
  font-size: 1.8rem;
  color: white;
}
.navigation .dropdown-content {
  display: none;
}
.jumbotron {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  line-height: 75px;
  color: white;
  border-width: 2px 10px 4px 20px;
  height: 60vh;
  width: 100%;
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron h1 {
  margin-left: 60px;
  margin-bottom: 40px;
  font-size: 6.4rem;
}
.main-content {
  max-width: 1000px;
  width: 100%;
}
.top-content {
  display: flex;
  justify-content: center;
  padding: 40px 25px;
}
.inverse-content {
  display: flex;
  justify-content: center;
  padding: 40px 25px;
}
.text-content {
  Font-Family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
  padding-top: 30px;
  margin: 10px;
  align-items: center;
  width: 48%;
}
.text-content h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-content p {
  margin-bottom: 15px;
}
.text-content button {
  border: 1px solid #222;
  padding: 15px 25px;
  width: 120px;
  font-size: 1rem;
}
.img-content {
  width: 48%;
}
.recent-projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.recent-projects h2 {
  font-size: 3rem;
  margin: 20px 33px;
}
.recent-projects h3 {
  font-weight: bold;
  font-size: 2.8rem;
}
.project-header {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  width: 100%;
}
.project-header h3 {
  color: Black;
  position: absolute;
  display: inline-block;
  padding: 20px 30px;
  background-color: #D8D8D8;
  bottom: -13px;
  font-family: Roboto, Arial, sans-serif;
}
.project-header .right-detail {
  right: 72px;
  font-weight: 300;
}
.project-header .left-detail {
  left: 72px;
  font-weight: 300;
  color: #222;
}
.project-content {
  max-width: 500px;
  margin: 0 auto;
  padding: 75px 0;
}
.project-content > p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
.project-content p:not(:last-child) {
  margin-bottom: 20px;
}
footer {
  background: #828282;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
footer .contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px 0;
}
footer .form-input {
  padding: 10px;
  width: 200px;
  margin-bottom: 10px;
}
footer h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
footer .state-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
footer p {
  line-height: 0.2rem;
  display: block;
}
footer form {
  margin: 20px 0;
}
footer .copyright {
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .jumbotron {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    line-height: 75px;
    color: white;
    border-width: 2px 10px 4px 20px;
    height: 40vh;
    width: 100%;
    background-image: url("../img/home/home-mobile-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbotron h1 {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 6.4rem;
  }
  .top-content {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 20px;
  }
  .top-content .img-content {
    max-width: 500px;
    width: 100%;
    background: url("file:///Users/malcolmlynch/Desktop/Lambda-School/User-Interface-Project-Week/img/home/home-mobile-img-1.png ");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .inverse-content {
    display: flex;
    flex-direction: column;
  }
  .inverse-content .img-content {
    max-width: 500px;
    width: 100%;
    background: url("file:///Users/malcolmlynch/Desktop/Lambda-School/User-Interface-Project-Week/img/home/home-mobile-img-2.png ");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .text-content {
    display: flex;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .text-content h2 {
    font-size: 2.4rem;
    max-width: 500px;
    width: 100%;
    text-align: left;
  }
  .text-content p {
    text-align: left;
  }
  .text-content button {
    border: 1.5px solid #222;
    padding: 15px 25px;
    max-width: 500px;
    width: 100%;
    font-size: 1.6rem;
  }
  .project-header {
    max-width: 500px;
    width: 100%;
    background: url("file:///Users/malcolmlynch/Desktop/Lambda-School/User-Interface-Project-Week/img/home/home-mobile-img-1.png ");
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
